<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="caching" type="Caching.CacheConfiguration, Caching"/>
  </configSections>
  <caching enabled="true"> </caching>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <container>
      <extension type="Interception"/>
      <register type="DataAccess.IPerson,DataAccess" mapTo="DataAccess.PersonRepository,DataAccess">
        <interceptor type="InterfaceInterceptor"/>
        <interceptionBehavior type="Caching.Containers.Interception.Cache.CachingInterceptionBehavior,Caching" />
        <lifetime type="singleton"/>
      </register>
    </container>
  </unity>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>